{% extends 'base.html' %}
{% block body %}
<form>
<div class="col-md-6">
    <h2>Tamanho</h2>
    <label>
        <input type="radio" name="tamanho" value="pequeno" />
        <img src="../../static/app/img/pequeno.png" />
    </label>
    <label>
        <input type="radio" name="tamanho" value="medio" />
        <img src="../../static/app/img/medio.png" />
    </label>    
    <label>
        <input type="radio" name="tamanho" value="grande" />
        <img src="../../static/app/img/grande.png" />
    </label>
        
</div>

<div class="col-md-6">
    <h2>Adicionais</h2>
    
        {% for adicional in adicionais %}
            <label>
                <input type="checkbox" name={{adicional.nome}} value={{adicional.preco}} />
                <img src="../../static/app/img/{{adicional.nome}}.png" />
            </label>
        {% endfor %}
        
</div>
    <br /><br /><br />
    <button type="submit">Pagamento</button>
</form>
{% endblock %}