{% extends 'base.html' %}
{% block body %}
<form method="get" action="/pedidos/acaimix_1">
        <label>
            <input type="radio" name="acaimix" value="1" />
            <img src="../../static/app/img/mix1.png" />
        </label>
        <label>
            <input type="radio" name="acaimix" value="2" />
            <img src="../../static/app/img/mix2.png" />
        </label>
        <label>
            <input type="radio" name="acaimix" value="3" />
            <img src="../../static/app/img/mix3.png" />
        </label>
        <label>
            <input type="radio" name="acaimix" value="4" />
            <img src="../../static/app/img/mix4.png" />
        </label>
        <label>
            <input type="radio" name="acaimix" value="5" />
            <img src="../../static/app/img/mix5.png" />
        </label>
        <label>
            <input type="radio" name="acaimix" value="6" />
            <img src="../../static/app/img/mix6.png" />
        </label>
        <label>
            <input type="radio" name="acaimix" value="7" />
            <img src="../../static/app/img/mix7.png" />
        </label>
        <label>
            <input type="radio" name="acaimix" value="8" />
            <img src="../../static/app/img/mix8.png" />
        </label>
        <label>
            <input type="radio" name="acaimix" value="9" />
            <img src="../../static/app/img/mix9.png" />
        </label>
        <label>
            <input type="radio" name="acaimix" value="10" />
            <img src="../../static/app/img/mix10.png" />
        </label>
    <br />
    <button type="submit">Próximo</button>
</form>
{% endblock %}