{% extends 'base.html' %}
{% block body %}
<form method="get" action="/pedidos/acaienergy_1">
        <label>
            <input type="radio" name="acaienergy" value="bomba" />
            <img src="../../static/app/img/acaibomba.png" />
        </label>
        <label>
            <input type="radio" name="acaienergy" value="tribomba" />
            <img src="../../static/app/img/acaitribomba.png" />
        </label>
    <br />
    <br />
    <br />
    <br />
    <button type="submit">Próximo</button>
</form>
{% endblock %}