{% extends 'base.html' %}
{% block body %}
<form method="get" action="/pedidos/finalizar">
    <div class="col-md-12">
        <label>
            <input type="radio" name="acai" value="{{acai_tipo}}" checked />
            <img src="../../static/app/img/{{acai_tipo}}.png" />
        </label>
    </div>
    <div class="col-md-2">
        <label>
            <input type="radio" name="tamanho" value="P"  />
            <img src="../../static/app/img/P.png" />
        </label>
        <label>
            <input type="radio" name="tamanho" value="G" />
            <img src="../../static/app/img/G.png" />
        </label>
    </div>
    <div class="col-md-10">
        {% for adicional in adicionais %}
        <label>
            <input type="checkbox" name="adicional" value="{{adicional.img}}"/>
            <img src="../../static/app/img/adicionais/{{adicional.img}}.png" />
        </label>
        {% endfor %}
    </div>
    <button type="submit">Finalizar</button>
</form>
{% endblock %}