{% extends 'base.html' %}
{% block body %}
<form method="get" action="/pedidos/pagamento">
Pedido: <label>
            <input type="radio" name="pedido" value="{{acai3}}{{acaimix}}" checked />
            <img src="../../static/app/img/{{acai3}}{{acaimix}}.png" />
        </label>
Tamanho : <label>
            <input type="radio" name="tamanho" value="{{tamanho}}" checked />
            <img src="../../static/app/img/{{tamanho}}.png" />
        </label>
Adicionais:
    {% for adicional in adicionais1 %}
        <label>
            <input type="checkbox" name="adicional" value="{{adicional}}" checked/>
            <img src="../../static/app/img/adicionais/{{adicional}}.png" />
        </label>
        {% endfor %}
        
        <label>
            <input type="checkbox" name="qnt" value="{{adicionais1|wordcount}}" />
            <img src="../../static/app/img/numeros/{{adicionais1|wordcount}}.png" />
        </label>
    <br />
    <br />
    <br />
    <br />
    <button type="submit">Pagamento</button>
</form>
{% endblock %}