{% extends 'base.html' %}
{% block body %}
<form method="get" action="/pedidos/pagamento">
Pedido: <label>
            <input type="radio" name="pedido" value="{{fondue1}}{{petit}}{{sorvete1}}" checked />
            <img src="../../static/app/img/{{fondue1}}{{petit}}{{sorvete1}}.png" />
        </label>

Adicionais:
    {% for adicional in adicionais1 %}
        <label>
            <input type="checkbox" name="adicional" value="{{adicional}}" checked/>
            <img src="../../static/app/img/adicionais/{{adicional}}.png" />
        </label>
        {% endfor %}
        
        <label>
            <input type="checkbox" name="qnt" value="{{adicionais1|wordcount}}" />
            <img src="../../static/app/img/numeros/{{adicionais1|wordcount}}.png" />
        </label>
    <br />
    <br />
    <br />
    <br />
    <button type="submit">Pagamento</button>
</form>
{% endblock %}