{% extends 'base.html' %}
{% block body %}
<form method="get" action="/pedidos/milkshake_1">
        <label>
            <input type="radio" name="milkshake" value="cremebranco" />
            <img src="../../static/app/img/milkcremebranco.png" />
        </label>
        <label>
            <input type="radio" name="milkshake" value="morango" />
            <img src="../../static/app/img/milkmorango.png" />
        </label>
        <label>
            <input type="radio" name="milkshake" value="chocolate" />
            <img src="../../static/app/img/milkchocolate.png" />
        </label>
        <label>
            <input type="radio" name="milkshake" value="ninho" />
            <img src="../../static/app/img/milkninho.png" />
        </label>
        <label>
            <input type="radio" name="milkshake" value="ovomaltine" />
            <img src="../../static/app/img/milkovomaltine.png" />
        </label>
        <label>
            <input type="radio" name="milkshake" value="oreo" />
            <img src="../../static/app/img/milkoreo.png" />
        </label>
        <label>
            <input type="radio" name="milkshake" value="cappuccino" />
            <img src="../../static/app/img/milkcappuccino.png" />
        </label>
        <label>
            <input type="radio" name="milkshake" value="pacoca" />
            <img src="../../static/app/img/milkpacoca.png" />
        </label>
        <label>
            <input type="radio" name="milkshake" value="cookies" />
            <img src="../../static/app/img/milkcookies.png" />
        </label>
        <label>
            <input type="radio" name="milkshake" value="morangoovomaltine" />
            <img src="../../static/app/img/milkmorangoovomaltine.png" />
        </label>
        <label>
            <input type="radio" name="milkshake" value="morangonutella" />
            <img src="../../static/app/img/milkmorangonutella.png" />
        </label>
        <label>
            <input type="radio" name="milkshake" value="ovomaltinenutella" />
            <img src="../../static/app/img/milkovomaltinenutella.png" />
        </label>
        <label>
            <input type="radio" name="milkshake" value="ninhonutella" />
            <img src="../../static/app/img/milkninhonutella.png" />
        </label>
    <br />
    <br />
    <br />
    <button type="submit">Próximo</button>
</form>
{% endblock %}