{% extends 'base.html' %}
{% block body %}
 <div id="navbar" class="collapse navbar-collapse ">
    <ul class="nav navbar-nav">
        <li><a href="acai1"><img src="../../static/app/img/acai.png" /><center>Açaí na Tigela</center></a></li>
        <li><a href="casadinho"><img src="../../static/app/img/casadinho1.png" /><center>Casadinho</center></a></li>
        <li><a href="acaimix"><img src="../../static/app/img/acaimix.png" /><center>Açaí Mix</center></a></li>
        <li><a href="acaienergy"><img src="../../static/app/img/acaienergy.png" /><center>Açaí Energy</center></a></li>
        <li><a href="acaicreme"><img src="../../static/app/img/cremeacai.png" /><center>Creme de Acai</center></a></li>
        <li><a href="sorvete"><img src="../../static/app/img/sorvete.png" /><center>Sorvete</center></a></li>
        <li><a href="milkshake"><img src="../../static/app/img/milkshake.png" /><center>Milk Shake</center></a></li>
        <li><a href="petit"><img src="../../static/app/img/petit.png" /><center>Petit Gateau</center></a></li>
        <li><a href="fondue"><img src="../../static/app/img/fondue.png" /><center>Fondue</center></a></li>
        <li><a href="produtos"><img src="../../static/app/img/produtos.png" /><center>Produtos</center></a></li>
    </ul>
</div>
{% endblock %}