{% extends 'base.html' %}
{% block body %}
<form method="get" action="/pedidos/sorvete_1">
        <label>
            <input type="radio" name="sorvete" value="cascao" />
            <img src="../../static/app/img/cascao.png" />
        </label>
        <label>
            <input type="radio" name="sorvete" value="simples" />
            <img src="../../static/app/img/simples.png" />
        </label>
        <label>
            <input type="radio" name="sorvete" value="sundae" />
            <img src="../../static/app/img/sundae.png" />
        </label>
            <label>
            <input type="radio" name="sorvete" value="bananasplit" />
            <img src="../../static/app/img/bananasplit.png" />
        </label>
        <label>
            <input type="radio" name="sorvete" value="kids" />
            <img src="../../static/app/img/kids.png" />
        </label>
        <label>
            <input type="radio" name="sorvete" value="morango" />
            <img src="../../static/app/img/morango.png" />
        </label>
            <label>
            <input type="radio" name="sorvete" value="napolitano" />
            <img src="../../static/app/img/napolitano.png" />
        </label>
        <label>
            <input type="radio" name="sorvete" value="merenguemorango" />
            <img src="../../static/app/img/merenguemorango.png" />
        </label>
        <label>
            <input type="radio" name="sorvete" value="brigadeiro" />
            <img src="../../static/app/img/brigadeiro.png" />
        </label>
            <label>
            <input type="radio" name="sorvete" value="beijinho" />
            <img src="../../static/app/img/beijinho.png" />
        </label>
        <label>
            <input type="radio" name="sorvete" value="ninho" />
            <img src="../../static/app/img/ninho.png" />
        </label>
        <label>
            <input type="radio" name="sorvete" value="sonhodevalsa" />
            <img src="../../static/app/img/sonhodevalsa.png" />
        </label>
            <label>
            <input type="radio" name="sorvete" value="ourobranco" />
            <img src="../../static/app/img/ourobranco.png" />
        </label>
        <label>
            <input type="radio" name="sorvete" value="lacta" />
            <img src="../../static/app/img/lacta.png" />
        </label>
        <label>
            <input type="radio" name="sorvete" value="kitkat" />
            <img src="../../static/app/img/kitkat.png" />
        </label>
            <label>
            <input type="radio" name="sorvete" value="bis" />
            <img src="../../static/app/img/bis.png" />
        </label>
        <label>
            <input type="radio" name="sorvete" value="ovomaltine" />
            <img src="../../static/app/img/ovomaltine.png" />
        </label>
        <label>
            <input type="radio" name="sorvete" value="oreo" />
            <img src="../../static/app/img/oreo.png" />
        </label>
        <label>
            <input type="radio" name="sorvete" value="churros" />
            <img src="../../static/app/img/churros.png" />
        </label>
    <br />
    <br />
    <br />
    <button type="submit">Próximo</button>
</form>
{% endblock %}